body {
    background-color: #d0e4fe;
}

h1 {
  font-weight: normal;
  color: gray;
}

h2{
  font-family:cursive;
}

h3{
  font-style: italic;
  font-family: cursive;
  text-align: center;
}

h4{
  color:purple;
}

h5{
  color:purple;
  text-align: center;
}

p {
  font-family: sans-serif;
}

em {
    font-style: italic;
}

.header {
  color: gray;
  font-style: normal;
}

.important {
  color: red;
}

.jumbotron{
  margin-bottom: 1px;
  background-image: url(../img/plasma.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: gray;
  text-shadow: black 0.3em 0.3em 0.3em;
}
